<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima {{ title }} </title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Clima {{ title }} </h1>
    <p>{{ status }} y {{ temp }} &deg;</p>
    <p>Sensacion Termica {{ feels_like }} &deg;</p>

    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Ingrese Ciudad" />
        <button type="submit">Ingresar</button>
    </form>
</body>

</html>